section.blog
    aside.blog-menu
        ul.blog-menu__list
            li.blog-menu__item.blog-menu__item--active
                button.blog-menu__btn(data-id="1") Самое важное в SASS
            each item in [["Приёмы в вёрстке, без которых не обходится ни одни сайт",'2'], ["Самый необходимый набор Gulp плагинов",'3'], ["Почему я выбрал Jade",'4']]
                li.blog-menu__item
                    button.blog-menu__btn(data-id=`${item[1]}`) #{item[0]}
        button.blog-menu__button 
    .articles
        ul.articles__list
            li.articles__item
                article.article(data-id="1")
                    .article__title
                        h3.title--clean Самое важное в SASS
                    .article__date 23 января 2018
                    .article__content
                        .article__text
                            p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                            p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                        .article__pic
                        +image("content/blog-code.png", "blog-code", "article__img")
            li.articles__item
                article.article(data-id="2")
                    .article__title
                        h3.title--clean Приёмы в вёрстке, без которых не обходится ни один сайт
                    .article__date 25 января 2018
                    .article__content
                        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
            li.articles__item
                article.article(data-id="3")
                    .article__title
                        h3.title--clean Самый необходимый набор Gulp плагинов
                    .article__date 10 февраля 2018
                    .article__content
                        p Доброго времени суток, всем! Кто-то умный, не помню в какой статье именно на Хабре, буквально недавно размышлял о процессе разработки с явным призывом автоматизировать все, что только можно автоматизировать. И лучше один раз потратить время на автоматизацию, чтобы потом экономить его на протяжении всего проекта.
                        p У веб-разработчиков есть прекрасный инструмент для автоматизации массы задач, который называется Gulp. И моя страсть к таксономии заставила себя собрать огромную коллекцию почти из 100 ценных плагинов для этого сборщика. Думаю многие кто уже использует Gulp найдут для себя что-то нужное, а кто нет, глядя на возможности, получит хорошую мотивацию установить его и понять как эта штука работает.
            li.articles__item
                article.article(data-id="4")
                    .article__title
                        h3.title--clean Почему я выбрал Jade
                    .article__date 12 мая 2018
                    .article__content
                        p Существуют десятки шаблонизаторов. Среди наиболее известных можно выделить Smarty, Twig (используется в следующей версии Drupal), Blade (используется по умолчанию в Laravel) и, конечно же, vanilla PHP. Если не говорить конкретно о PHP, то для eRuby / ERB и Haml для Ruby / Ruby on Rails и Javascript есть ряд популярных вариантов, как например Mustache, Handlebars, Hogan и EJS. У одних различия в синтаксисе незначительные, у других они более выраженные.
                        p Шаблонизатор Jade, который значительно отличяется от других, обычно ассоциируется с JavaScript приложениями, например он поддерживается в Express для Node.js. В этой статье, я поговорю о Jade или, более конкретно, о Jade сделанной для PHP — JadePHP.